<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Homepage</h1>
    <p>Welcome to Scraper status page</p>
  </body>
</html>
